APP_NAME=Gmail Email MCP
ENVIRONMENT=development
DATABASE_URL=postgresql+psycopg://gmail_mcp:email1234@localhost:5432/gmail_email_db
PUBLIC_BASE_URL=http://localhost:8000
GOOGLE_CLIENT_SECRETS_FILE=credentials.json
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:8000/auth/google/callback
GOOGLE_PUBSUB_TOPIC=projects/YOUR_PROJECT_ID/topics/gmail-email-events
GOOGLE_PUBSUB_AUDIENCE=http://localhost:8000/webhooks/google/pubsub
TOKEN_ENCRYPTION_KEY=E-JHn-hu4V6JOwXfThV_W6rwbwr4iAdrdZ-G_G2ldwA=
MCP_API_KEY=i0cgXe8wTpvRvS1nzaDZn1o4i67JQPtmK1yx1DEODec
WATCH_RENEWAL_DAYS=6
# Auth0
AUTH0_DOMAIN=dev-mmyrhtmiz68y8i1e.us.auth0.com
AUTH0_CLIENT_ID=tNEjkFjIVB2tMzieNP3vUWbhrlHO26AT
AUTH0_CLIENT_SECRET=VuV58-GnTJp01kRBTjM0BUo_xsLWQ0N1W12nEOPpmGxymljUr_kHvwzAbjuuULoB

AUTH0_API_AUDIENCE=https://email-connect-to-db.onrender.com
AUTH0_ISSUER=https://dev-mmyrhtmiz68y8i1e.us.auth0.com/

# Your deployed MCP server
APP_BASE_URL=https://email-connect-to-db.onrender.com